{% extends 'auth_base.html' %}
{% load static %}
{% block title %}
    Login | Extrapolate
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i,700" rel="stylesheet">
    <style>
        .abcRioButton {
            margin: 0 auto;
        !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="intro">
        <h1 class="intro-head">
            Welcome to 
        </h1>
        <img src="{% static 'images/logo/1x.png' %}">
        <h4 class="web-enter">Click here to enter</h4>
    </div>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class=" card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Sign In to <img src="{% static 'images/logo/half.png' %}" class="brand-logo"></h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-20" id="login-form">
                    {% csrf_token %}
                    <div class="has-error field-error hide">
                        <span class="help-block text-center"></span>
                    </div>
                    <div class="form-group padding-10">
                        <input autofocus="" class="form-control" id="id_username"
                               maxlength="254" name="username" placeholder="Username"
                               required="required" title="" type="text">
                    </div>
                    <div class="form-group padding-10">
                        <input class="form-control" id="id_password" name="password"
                               placeholder="Password" required="required" title=""
                               type="password">
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox" checked="checked">
                                <label for="checkbox-signup">
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-green btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Log In
                            </button>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <div id="my-signin2"></div>
                        </div>
                    </div>
                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12">
                            <a href="" class="text-dark"><i class="fa fa-lock m-r-5"></i>
                                Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Don't have an account? <a href="{% url 'signup' %}" class="text-primary m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/modernizr.js" %}" async></script>
    <script type="text/javascript" src="{% static  'js/authentication/login.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/home-start.js' %}"></script>
    <script>
        $(".form-horizontal .form-group").slice(0, 3).addClass('padding-10');
        var w = $(window).width();
        var h = $(window).height();
        $('#intro').width(w);
        $('#intro').height(h);
        $(document).ready(function () {
            start.init();
            login.init();
        });
    </script>
    <script>
        
        
    </script>
{% endblock %}
