{% extends 'auth_base.html' %}
{% load static %}
{% block title %}
    Signup | Extrapolate
{% endblock %}
{% block css %}
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i,700" rel="stylesheet">
    <style>
        .abcRioButton {
            margin: 0 auto;
        !important;
        }

        .errorlist li {
            color: #f76664;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class=" card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Sign up for <img src="{% static 'images/logo/half.png' %}" class="brand-logo"></h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-20" id="signup-form" method="POST" action="{% url 'signup' %}">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <div class="has-error field-error hide">
                        <span class="help-block text-center"></span>
                    </div>
                    <div class="form-group padding-10">
                        <input autofocus class="form-control" id="id_username"
                               maxlength="254" name="username" placeholder="Username"
                               required="required" title="" type="text">
                    </div>
                    {{ form.username.errors }}
                    <div class="form-group padding-10">
                        <input autofocus="" class="form-control" id="id_email"
                               maxlength="254" name="email" placeholder="Email"
                               required="required" title="" type="email">
                    </div>
                    {{ form.email.errors }}
                    <div class="form-group padding-10">
                        <input class="form-control" id="id_password1" name="password1" type="password"
                               required="required" placeholder="Password">
                    </div>
                    {{ form.password1.errors }}
                    <div class="form-group padding-10">
                        <input class="form-control" id="id_password2" name="password2" type="password"
                               required="required" placeholder="Password confirmation" required="required">
                    </div>
                    {{ form.password2.errors }}
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-green btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Signup
                            </button>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <div id="my-signin2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Don't have an account? <a href="{% url 'login' %}" class="text-primary m-l-5"><b>Login</b></a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/modernizr.js" %}" async></script>
    <script>
        $(".form-horizontal .form-group").slice(0, 3).addClass('padding-10');
    </script>
{% endblock %}
