{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,600i,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/timeline.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	
	<title>Machine Learning Pipeline</title>
</head>
<body class="animated fadeIn">
	<div class="timeline-top">
		<!--<a href="{% url 'login' %}"><img src="{% static 'images/logo/1x.png' %}" class="timeline-logo"></a>-->
		<h2 class="timeline-head">Machine Learning Pipeline</h2>
	</div>

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Data Accumulation</h2>
				<p>Based on the problem and our interpretation of it, we collated data for our solution from the following sources:<br><br>1. AICTE<br>2. Educational Census<br>3. IKDD (Academic) Data</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Preprocessing</h2>
				<p>Preprocessing involves transforming raw data into a usable format. </p><p>Example: We had to adjust the skewness of the predictor variable, salary, by <span class="p-bold"> logarithmic standardization</span> of the values since skewed data can have ruinous consequences for our predictive model.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~raunaq/9.embed?link=false" height="500" width="100%"></iframe>
			</div> <!-- cd-timeline-content -->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Feature Selection</h2>
				<p>Attributes that were relevant for the predictive analysis were identified while others including the dependent ones were dropped. These relevant features were then checked for <span class="p-bold">heteroscedasticity and skewness.<br></span> For instance, following were the results obtained from PCA.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~sharmaakshay/6.embed" height="500" width="100%"></iframe>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Model Building/Selection</h2>
				<p>Data Split: <span class="p-bold">80:20</span> :: Training:Cross Validation</p><p>The following models were considered (regressors):</p>
1. SVM<br>2. Random Forest<br>3. Ridge Regression<br>4. Lasso Regression<br>5. Artificial Neural Network(MLP)<br><p>The RMSE values for each model are shown below.</p><p>Since the lowest value of the RMSE was observed for Ridge Regression, it was selected and hyper-parameter tuned (GridSearchCV with 3-Fold Cross Validation to determine the best possible values of its parameters) to integrate with the backend working of the API.</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~sharmaakshay/2.embed?link=false" height="500" width="100%"></iframe>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->
<!-- Table plot -->
			<div class="cd-timeline-content plot">
				<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~dhruvkuchhal/46.embed?link=false" height="235" width="100%"></iframe>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Model Application</h2>
				<p>The model was applied to a sample testing dataset (completely unused) and correspondingly the salaries were predicted. 
Finally, we plotted a histogram to visualise the distribution of the predicted salaries to ascertain whether the distribution was similar to that of the training set salaries. As a result, the machine learning methodology was validated since the distribution was visibly similar.
</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->
<!-- Table plot -->
			<div class="cd-timeline-content plot">
				<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~dhruvkuchhal/41.embed" height="500" width="100%"></iframe>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<i class="fa fa-wpexplorer elements-logo" aria-hidden="true"></i>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Some stats for ML nerds</h2>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
	<div class="pipeline-end">
		<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~dhruvkuchhal/43.embed" height="580" width="100%"></iframe>
	</div>
    <div class="footer">
        <span class="footer-content">
            &copy; 2017 Extrapolate Team 
            <img class="footer-img-1" src="{% static 'images/logo/logo-2x.png' %}">
            <img class="footer-img-2" src="{% static 'images/sih.png' %}">
        </span>
    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
<script type="text/javascript">
	$(document).ready(function () {
		var element = $(".pipeline-end");
		var temp = element[0].getBoundingClientRect().top;
		var scroll = window.scrollY;
		function scrollAction() {
			if(scroll >= temp) {
				$(".pipeline-end").addClass("animated");
				$(".pipeline-end").addClass("fadeIn");
			}	
		}
		$(document).scroll(scrollAction);
	});
</script>
</body>
</html>